body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, Arial, sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

table, th, td {
  border: solid 1px black;
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
}

